VITE_API_URL=https://laznasdpf.org/api/v1
VITE_BACKEND_URL=https://laznasdpf.org
VITE_STORAGE_URL=https://laznasdpf.org/storage

VITE_MIDTRANS_CLIENT_KEY=
VITE_MIDTRANS_SNAP_URL=https://app.midtrans.com/snap/snap.js
VITE_MIDTRANS_IS_PRODUCTION=true
VITE_GOOGLE_CLIENT_ID=
